@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" ;
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
body {
    margin: 0;
    padding: 0;
    background:black;
    font-family: sans-serif;
    
  
}


.login-box{
    width:280px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;

}
.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #C0C0C0;
    margin-bottom: 50px;
    padding: 10px 0;
    margin-left: 10px;

}
#bottom {
    margin-top: 32%;
    margin-left: 45%;
}
#bottom .login {
    width: 130px;
    height: 50px;
    background-color: #696969 ;
    border: 0;
    font-size: 25px;
    color: black;
    outline: none;
}
#bottom .login:hover {
    color: black;
    background: #C0C0C0;
    box-shadow: 0 0 10px #C0C0C0,0 0 40px #C0C0C0,0 0 80px #C0C0C0;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px  solid #C0C0C0;


}
p {
    font-size: 20px;
    color:white;
   justify-content: center;
   padding-top: 20%;
   padding-left: 30%;
   padding-right: 30%;
   font-family: 'Orbitron', sans-serif;
   letter-spacing: 4px;
   word-spacing: 6px;
   color:#C0C0C0;

  
}

#i1, #i2, #i3, #i4, #i5{ display: none;}

.container{
		margin: 0 auto;
		margin-top: 20px;
		position: relative;
		width: 70%;
        height: 0;
        margin-top: 300px;
		padding-bottom: 38%;
	  user-select: none;
		background-color: #1c1c1c;
		border: solid 10px #616161;
		border-radius:10px ; 
	}

	.container .slide_img{
		position: absolute;
		width: 100%;;
		height: 100%;
	}
	.container .slide_img img{
		width: inherit;
		height: inherit;
	}

	 .prev, .next{
		width: 12%;
		height: inherit;
		position: absolute;
		top:0; 
		background-color: rgba(88, 88, 88,.2);
		color:rgba(244, 244, 244,.9);
		z-index: 99;
		transition: .45s;
		cursor: pointer;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: rgba(88, 88, 89,.8);
		color: #ffffff; 
	}

.container #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	top: -5px;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five 
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: rgba(255,255,255,.9);}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}		

@media screen and (max-width: 685px){
	.container{
		border: none;
		width: 100%;
		height: 0;
		padding-bottom: 55%; 
	}	
	
	label span { font-size: 50pt; }
	
	.prev, .next{
		width: 15%;
	}	
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}
}
@media screen  and(min-width: 970px){
	.me{ display: none;}
}


h5 {
    padding-top: 10%;
    color : #C0C0C0;
    text-align: center;
    font-size: 30px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btt {
    width: 60px;
    height: 60px;
    border-radius: 50%;
   margin-top: 5%;
    margin-left: 47%;
    border: none;
    overflow: hidden;
    outline: none;


}


